body{
  margin: 0;
  padding: 0;
}

header{
  height: 100px;
  background-color: #4EA0FF;
  background-image: url(../img/pattern.png);
  background-size: 21%;
}

.container{
  width: 80%;
  margin: auto;
}

.logo{
  height: 50px;
  margin-top: 40px;
  margin-left: 150px;
}


main{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
}

.font-h1{
  font-size: 40px;
  line-height: 40px;
}

.font-p1{
  font-size: 19px;
  color:#808080;
  position: relative;
  top: -30px;
}

.font-p2{
  font-size: 12px;
  color: #808080;
  position: relative;
  top: -45px;
}

.photo{
  margin-top: -40px;
}

#color1{
  color: #1baaec;
}

.caption{
  font-size: 12px;
  margin-top: 0;
}

#color2{
  background-color: yellow;
}

.list{
  position: relative;
  left: -25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.table{
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
}

.thead{
  background-color: #20A9E5;
}

#thead-color{
  color: white;
}

.tbody{
  background-color: #B1E5F2;
}

.tfoot{
  background-color: #B1E5F2;
}

footer{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

footer h4{
  color: #808080;
  font-size: 17px;
  margin-bottom: -10px;
}

footer h3{
  color: #fff;
  line-height: 45px;
  margin-left: 15px;
}

footer .image{
  width: 230px;
  height: 160px;
  background-size: cover;
  margin: 10px 0;
}

#image-monitor{
  background-image: url(../img/monitor.jpg);
}

#image-graph{
  background-image: url(../img/graph.jpg);
}    
