body{
  margin: auto;
}

header{
  background-color:#4EA0FF;
  height: 80px;
  background-attachment: local;
}

.background-top{
  position: Absolute;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top2{
  position: Absolute;
  left: 150px;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top3{
  position: Absolute;
  height: 151px;
  left: 300px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top4{
  position: Absolute;
  height: 151px;
  left: 450px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top5{
  position: Absolute;
  left: 600px;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top6{
  position: Absolute;
  left: 750px;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top7{
  position: Absolute;
  left: 900px;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top8{
  position: Absolute;
  left: 1050px;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top9{
  position: Absolute;
  left: 1200px;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top10{
  position: Absolute;
  left: 1350px;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top11{
  position: Absolute;
  left: 1500px;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top12{
  position: Absolute;
  left: 1650px;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.background-top13{
  position: Absolute;
  left: 1800px;
  height: 151px;
  clip: Rect(0px 200px 79px 0px);
  background-attachment: local;
}

.logo{
  height: 100px;
  width: 200px;
  position: Absolute;
  left: 400px;
  top: -3px;
  background-attachment: local;
}

.block-container{
  width: 1100px;
  margin: auto;
}

main{
  text-align: left;
  margin-left: 300px;
  margin-right: 300px;
  background-attachment: scroll;
}

.font-h1{
  font-size: 40px;
}

.font-p1{
  font-size: 19px;
  color: grey;
  position: relative;
  top: -30px;
}

.font-p2{
  font-size: 12px;
  color: grey;
  position: relative;
  top: -30px;
}

#color1{
  color: #1baaec;
}

#small-font{
  font-size: 13px;
}

#color2{
  background-color: yellow;
}

.list{
  position: relative;
  left: -25px;
}

.table{
  table-layout: fixed;
  width: 100%;
}

.thead{
  background-color: #05b8ff;
}

#thead-color{
  color: white;
}

.tbody{
  background-color: #85d3f1;
}

.tfoot{
  background-color: #85d3f1;
}

footer{
  text-align: left;
  margin-left: 400px;
  margin-right: 400px;
  background-attachment: scroll;
}

.font-p3{
  font-size: 19px;
  color: grey;
  position: relative;
  bottom: -10px;
}

.text-img{
  color: white;
  font-size: 150%; 
  line-height: 50px;
  position: relative;
  height: 150px;
  top: -460px;
  right: -15px;            
}

.text-img2{
  color: white;
  font-size: 150%; 
  line-height: 50px;
  position: relative;
  height: 150px;
  top: -430px; 
  right: -15px;        
}

.block-container2{
  width: 1100px;
  margin: auto;
}
